.jshistory {
  max-height: 100vh;
  width: 49%;
  text-align: center;
}
.jshistory__links {
  max-height: 49%;
  overflow: auto;
  border-bottom: 1px solid #44475a;
}
.jshistory__links::-webkit-scrollbar {
  display: none;
}
.jshistory__title {
  margin: 40px 0 10px 0;
  color: #8be9fd;
  text-transform: uppercase;
  font-size: 16px;
}

.jshistory__links__list {
  margin-top: 40px;
  list-style-type: none;
  text-decoration: none;
}
.item {
  margin-bottom: 19px;
  width: 100%;
  text-align: left;
}
.item__link {
  text-decoration: none;
  color: #6272a4;
  font-size: 14px;
  width: calc(75% - 24px);
  text-align: left;
  margin-right: 5%;
  transition: color 0.2s;
  white-space: nowrap;
}

.item__link:hover {
  color: #f1fa8c;
}
.time {
  color: #999;
  text-align: right;
  margin-left: 10%;
}
.jshistory__clock {
  display: flex;
  height: 51%;
  align-items: center;
  justify-content: center;
}
.timer {
  font-family: "Helvetica Neue", sans-serif;
  color: #6272a4;
  text-align: center;
}

.timer__messaje__hider {
  color: #ffb86c;
  font-weight: 600;
  cursor: pointer;
}
.timer__messaje span {
  color: #ffb86c;
  margin: 5px;
}
.timer__hour {
  margin-top: 30px;
  font-size: 120px;
  font-weight: 400;
  margin-bottom: 0px;
}
.timer__date {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
.timer__hour__zone {
  font-size: 32px;
  margin: 0;
}
