@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: "Inconsolata", monospace;
  background-color: #272a36;
}
.App {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
a {
  text-decoration: none;
}
